.post-template-split {
	&:not(.tag-hash-video):has(.post-featured:empty) {
		.post-header {
			width: var(--container-wide--width);
		}

		.post-header-container {
			max-width: 100%;
		}
	}

	/* Header. */
	.post-header {
		display: flex;
		gap: calc(var(--spacing-8) * 2);
		max-width: var(--featured-image--max-width);
		width: 100%;
		margin: 0 auto;
	}

	/* Right side. */
	.post-header-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: var(--spacing-7);
		width: var(--container--width);
		margin: 0 auto;
		max-width: 100%;
		padding-top: var(--spacing-9);
	}

	.post-featured + .post-header-container {
		flex: 1 0 0%;
		max-width: 600px;
		margin: 0;
		padding-bottom: var(--spacing-9);
	}

	/* Tags. */
	.post-tags {
		margin-bottom: var(--spacing-2);
	}

	/* Excerpt. */
	.post-excerpt {
		margin-bottom: auto;
	}

	/* Wrapper meta and buttons. */
	.post-header-info {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		gap: var(--spacing-8) var(--spacing-9);
		margin-top: var(--spacing-7);
		padding-top: var(--spacing-9);
		border-top: 1px solid var(--color-border);

		> .form-subscribe {
			flex: 1 0 0%;
			max-width: 400px;
			min-width: 300px;

			+ .post-header-buttons {
				align-self: flex-end;
				margin-left: auto;
			}
		}
	}

	/* Buttons. */
	.post-header-buttons {
		align-self: flex-start;
	}

	/* Has sidebar. */
	&.post-has-sidebar .post-header-container {
		width: var(--container-wide--width);
	}

	@media (--breakpoint-lg) {
		&.tag-hash-video,
		&:not(.tag-hash-video):has(.post-featured:not(:empty)) {
			.post-featured {
				flex: 1 0 0%;
				max-width: 50%;

				img,
				figure,
				picture,
				iframe,
				video,
				.kg-video-container,
				&::before {
					display: block;
					height: 100%;
				}
			}

			.post-header-buttons {
				gap: var(--spacing-2);
			}

			.post-comments-button,
			.post-button-share > button {
				--button--padding-h: var(--button--padding-v);

				min-width: var(--button--min-height);

				> .label,
				> .label-wrapper {
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					overflow: hidden;
					clip-path: inset(50%);
					word-wrap: normal;
					border: 0;
				}
			}
		}
	}

	@media (--breakpoint-max-lg) {
		.post-header {
			flex-direction: column;
		}

		.post-featured {
			max-width: 100%;
		}

		.post-header-container,
		&.post-has-sidebar .post-header-container {
			width: var(--container--width);
			max-width: 100%;
			padding-bottom: 0;
			margin-right: auto;
			margin-left: auto;
		}

		.post-featured + .post-header-container {
			padding-top: 0;
		}
	}

	@media (--breakpoint-max-sm) {
		.post-header-info > .form-subscribe {
			max-width: 100%;
		}
	}
}
