/* stylelint-disable at-rule-no-unknown */

.navigation {
	--nav--direction: column;
	--nav--gap: var(--spacing-1);

	position: relative;

	> ul {
		display: flex;
		flex-flow: wrap;
		flex-direction: var(--nav--direction);
		gap: var(--nav--gap);
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

/* Link. */
.nav-link {
	@mixin font-weight medium;

	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	gap: var(--spacing-7);
	padding: var(--spacing-4) var(--spacing-6);
	min-height: 2.375rem; /* 38px. */
	color: var(--color-contrast);
	font-size: var(--font-small);
	text-decoration: none;
	line-height: initial;
	background-color: transparent;
	background-clip: padding-box;
	overflow: hidden;
	border: 0;
	border-radius: var(--radius-3);
	z-index: 1;
	transition:
		color 0.1s,
		background-color 0.1s;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background-color: transparent;
		border: 1px solid var(--color-border);
		border-radius: inherit;
		opacity: 0;
		transition:
			opacity 0.8s ease,
			background-color 0.5s ease;
		z-index: -1;
	}

	> svg {
		flex: 0 0 auto;
		width: 1.25rem;
		height: 1.25rem;
		color: var(--color-secondary);
		transition: color 0.3s;
	}

	&:hover,
	&:focus-visible,
	&.nav-link-current {
		color: var(--color-contrast);
		background-color: var(--color-background-200);

		> svg {
			color: var(--color-contrast);
		}
	}

	&:not(.nav-link-current):active {
		color: var(--color-contrast);

		&::before {
			opacity: 1;
			border-color: var(--color-background-300);
			background-color: var(--color-background-300);
			transition:
				opacity 0.05s,
				background-color 0.05s;
		}
	}
}

button.nav-link {
	cursor: pointer;
}

.nav-link-circle {
	position: relative;
	flex: 0 0 auto;
	width: 1.25rem;
	height: 1.25rem;
	color: var(--color-mute);

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;
		background-color: currentcolor;
		transform: translate(-50%, -50%);
	}
}

/* Current link. */
.navigation-has-current .nav-link-current,
.navigation-has-current .nav-link-current:hover {
	color: var(--color-contrast);
	background-color: var(--color-background-200);
	outline-offset: 2px;

	> svg {
		color: var(--color-contrast);
	}
}

/* Separator. */
.nav-separator {
	margin: var(--spacing-6);
	border-top: 1px solid var(--color-border);
}

/* Category when not sidebar collapsed and popup navigation. */
.popup-navigation,
[data-sidebar-collapsed='false'] {
	/* Category. */
	.nav-category {
		@mixin font-weight medium;

		display: flex;
		align-items: center;
		padding: var(--spacing-4) var(--spacing-6);
		margin-top: var(--spacing-7);
		margin-bottom: 0;
		min-height: auto;
		color: var(--color-secondary);
		background-color: transparent;
		font-size: var(--font-small);
	}

	.navigation-tags > .nav-category {
		margin-top: 0;
	}

	a.nav-category {
		> svg:first-child {
			display: none;
		}

		> svg:last-child {
			width: 1rem;
			height: 1rem;
			margin-left: auto;
			clip-path: inset(0 100% 0 0);
			transform: translateX(calc(var(--spacing-1) * -1));
			transition:
				clip-path 0.3s ease,
				transform 0.3s ease;
		}
	}

	a.nav-category:hover,
	a.nav-category:focus-visible {
		color: var(--color-contrast);
		background-color: transparent;

		> svg:last-child {
			clip-path: inset(0);
			transform: translateX(0);
		}
	}
}

/* Secondary Navigation. */
.navigation-secondary {
	--nav--direction: row;
	--nav--gap: 0;

	@mixin font-weight regular;

	> ul {
		margin: calc(var(--spacing-3) * -0.5) calc(var(--spacing-4) * -1);
	}

	li {
		flex: 0 0 auto;
		max-width: 100%;
	}

	li:has(> .nav-category) {
		flex: 0 0 100%;
	}

	li:first-child > .nav-category {
		margin-top: 0;
	}

	.nav-link {
		padding: calc(var(--spacing-3) * 0.5) var(--spacing-4);
		min-height: auto;
		color: var(--color-foreground);
		border-radius: var(--radius-1);
		background-color: transparent;

		&:hover,
		&:focus-visible {
			color: var(--color-contrast);
		}
	}

	.nav-category {
		padding: calc(var(--spacing-3) * 0.5) var(--spacing-4);
		margin-top: var(--spacing-3);
		min-height: auto;
		color: var(--color-secondary);
	}

	.nav-separator {
		width: 100%;
		margin: var(--spacing-3) 0;
		border: 0;
	}
}

/* Hide navigation when empty. */
.navigation-hide {
	display: none;
}
